name: Test

on: [push, pull_request, workflow_call]

jobs:
  qa:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pre-commit/action@v3.0.1

  test:
    needs: qa
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        python-version: [ "3.10" ]
      include:
        - os: windows-latest
          python-version: "3.10"
          if: github.event_name == 'pull_request' && github.event.action == 'closed' &&  github.event.pull_request.merged == true
        - os: macos-latest
          python-version: "3.10"
          if: github.event_name == 'pull_request' && github.event.action == 'closed' &&  github.event.pull_request.merged == true
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: pip install -r dev-requirements.txt
    - name: Run tests
      run: pytest
